* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 80vh;
}
.navbar {
  background-color: #d82148 !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  margin-left: 10px;
  color: white;
  text-shadow: black;
}
.navbar-brand:hover {
  color: white;
}
.navbar-brand:active {
  color: white;
}
.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/*transaction page*/
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

/*antd icons*/
.anticon svg {
  font-size: 22px;
  cursor: pointer;
}
.active-icon {
  color: #d82148;
}
.inactive-icon {
  color: gray;
}
.text {
  color: #d82148;
}
.btn {
  color: white;
  font-weight: 600;
  background-color: #d82148;
  border: none;
}
.btn:hover {
  color: #d82148;
  background-color: white;
}
